/* Reset di base */

@font-face {
    font-family: "PPNeue";
    /* Nome che userai nel CSS */
    src: url("../fonts/PPNeueMontreal-Book.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Font e colori */

body {
    font-family: "PPNeue";
    color: #ffffff;
    background-color: #000000;
    line-height: 1.2;
    width: 100vh;
    height: 100vh;
    padding: 10px;
    overflow:
}


/* per rendere il testo evidenziato personalizzato*/

::selection {
    background-color: #01FF8B;
    /* colore dello sfondo della selezione */
    color: #000000;
    /* colore del testo selezionato */
}

header {
    text-align: left;
    margin-bottom: 40px;
}

h1 {
    font-size: 3.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    /* line-height: 3.9rem; */
}

.footer-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #01FF8B;
}

.marquee {
    display: flex;
    white-space: nowrap;
}

.marquee span {
    font-family: "PPNeue", sans-serif;
    font-size: 1.2rem;
    color: #000;
    padding-right: 2px;
}

.hover-link {
    display: inline-block;
    /* importante per lavorare con padding */
    width: 100%;
    /* forza l'andare a capo */
    position: relative;
    padding-left: 0;
    /* di base nessun padding */
    color: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.hover-link::before {
    content: "→";
    position: absolute;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease;
    color: #01FF8B;
    /* stessa tinta della scritta in hover */
}

.hover-link:hover {
    color: #01FF8B;
    /* cambia colore testo */
    padding-left: 60px;
    /* spazio per la freccia */
}

.hover-link:hover::before {
    opacity: 1;
    /* la freccia diventa visibile */
}

.photo-stack {
    position: fixed;
    bottom: 0px;
    right: 40px;
    width: 600px;
    height: 600px;
    pointer-events: none;
    /* così non interferisce con clic */
}

.photo-stack img {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: auto;
    right: 10px;
    opacity: 0;
    /* inizialmente invisibili */
    transform: translateY(10px) scale(0.95) rotate(10deg);
    /* partenza */
    border-radius: 0px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
    /* rimuove la sottolineatura */
    color: inherit;
    /* eredita il colore dal genitore (es. h1) */
}

.char {
    display: inline-block;
}